body.modo-claro {
    background-color: #ffffff; /* Color de fondo para modo claro */
    color: #333333; /* Color de texto para modo claro */
}

body.modo-oscuro {
    background-color: #333333; /* Color de fondo para modo oscuro */
    color: #ffffff; /* Color de texto para modo oscuro */
}
